@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=BBH+Sans+Bartle&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
  font-family: "Inter", sans-serif;
}
.container{
 margin-left: 30px;
}
.input-field{
  width: 80%;
  padding: 10px 5px;
  border-radius: 5px;
  outline: none;
}
.filter-input-field{
  position: relative;
  width: 80%;
  padding: 10px 30px;
  border-radius: 5px;
  outline: none;


}
.search-container input::placeholder{
  position: relative;
  left: 20px;
 
}

.search-container svg{
  position: absolute;
  left: 3%;
  top: 13%;
}
.button{
  display: block;
  margin-top: 10px;
  background-color: #000000;
  color: white;
  padding:10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.post-container{
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
.post-details-container{
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 5px;

}
.loader {
  border: 4px solid #f3f3f3; 
  border-top: 4px solid #3498db; 
  border-radius: 50%; 
  width: 200px;
  height: 200px;
  animation: spin 1s linear infinite; 
  margin: auto;
  margin-top: 200px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}